<!-- <app-header></app-header> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="./assets/071.jpg" style="margin-top: 6%;" width="30" height="30"
      class=" rounded-circle d-inline-block align-top mr-sm-2" alt="">
    <b style="font-size: 32px;">TakLeave</b>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="nav nav-tabs ml-auto border-dark">
    <li *ngIf="!header" class="nav-item ">
      <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active"> <b>Home</b> </a>
    </li>
    <li *ngIf="header" class="nav-item ">
      <a class="nav-link"><b>Welcome</b></a>
    </li>
    <li *ngIf="!header" class="nav-item">
      <a class="nav-link" [routerLink]="['/admins']" routerLinkActive="active"><b>Admin login</b></a>
    </li>
    <li *ngIf="!header" class="nav-item ">
      <a class="nav-link" [routerLink]="['/employees']" routerLinkActive="active"><b>Employee login</b></a>
    </li>
    <li *ngIf="header" class="nav-item ">
      <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active"><b>Log out</b></a>
    </li>
  </ul>
</nav>
<form>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <th>
          <a [routerLink]="['/manageemp',empId]">
            <button type="submit" (click)="onGetId()"
              class="btn btn-success mr-3 shadow rounded border border-dark">Employee</button>
          </a>
          <a [routerLink]="['/leaveconfig',empId]">
            <button type="submit" (click)="onGetId()" class="btn btn-success mr-3">Leave Configuration</button>
          </a>
          <a [routerLink]="['/leavelist',empId]">
            <button type="submit" (click)="onGetId()" class="btn btn-success mr-3">Leave List</button>
          </a>
        </th>
      </thead>
    </table>
  </div>
</form>
<div class="card">
  <div class="card-header" style="font-size: 28px;">
    <h4>Employee List</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2" style="text-align: center;">
        <h6>Search by Name:</h6>
      </div>
      <div class="col-md-4">
        <input type="text" placeholder="Employee Name" class="form-control" />
      </div>
      <button type="button" class="btn btn-outline-dark">Search</button>
      <div class="btn-group float-right" style="position: absolute; margin-left: 88%;">
        <a [routerLink]="['/manageemp',empId,'add']">
          <button type="submit" class="btn btn-secondary form-control mr-3">+Add New</button>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" style="margin-bottom: 2%;">
        <!-- <h4 >Filtered by: </h4> -->
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-hover shadow p-3 mb-5 bg-white rounded" style="text-align: center;">
        <thead style="background-color: lightblue; text-align: center; font-size: 18px;">
          <tr>
            <!-- <th>
                            <button class="btn btn-primary">
                                Show Image
                            </button>
                        </th> -->
            <th>Name</th>
            <th>Email</th>
            <th>Date of Joining</th>
            <th>Date of Birth</th>
            <th>Edit/Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let emp of employeelist2'>

            <th>{{emp.name}}</th>
            <th>{{emp.email}}</th>
            <th>{{emp.doj}}</th>
            <th>{{emp.dob}}</th>

            <th>
              <a [routerLink]="['/manageemp',empId,'edit',emp.id]">
                <button class="btn mr-3">
                  <img src="/assets/edit.png" alt="">
                </button>
              </a>
              <button class="btn" (click)="delete(emp.id)">
                <img src="/assets/delete.png" alt="">
              </button>
            </th>


          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>