<div class="container">
    <!-- <img src="/asserts/office.jpg" alt=""> -->
    <!-- <div class="row h-50">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div> -->
    <div class="row">
        <div class="col"></div>
        <div class="col-6 align-self-center" style="margin-top: 23%; margin-left: 3%; background-color: rgb(247, 231, 209); text-align: center; border-style: solid; border-width: 8px;border-color: black;"><h1>WELCOME</h1><br><h1>...</h1></div>
        <div class="col"></div>
    </div>
    <!-- <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div> -->
 
</div>
